*{margin: 0;
padding : 0;
box-sizing: border-box;}


body{
    background-color: rgb(248, 248, 248);
    height: 400dvh;
}

.nav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}





.hom{
    text-decoration: none;
    color: rgb(125, 125, 125);
}

.hom:hover{
    color: black;
}

.zencore{
    text-decoration: none;
    color: rgb(125, 125, 125);
}

.zencore:hover{
    color: black;
}

.try{
    text-decoration: none;
    color: rgb(125, 125, 125);
}

.try:hover {
    color: black;
}

.blo{
    text-decoration: none;
    color: rgb(125, 125, 125);
}

.blo:hover {
    color: black;
}

.im1{
    padding-top: 10px;
    padding-right: 10px;
}


.bar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}




.link{
    display: flex;
    gap: 5rem;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 260px;
}








.tombol {
    display: flex;
    gap: 1rem;
    padding: 15px;
    
}






.kedua{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;
}






.tek {
    display:  grid;
    justify-content: center;
    padding-right: 2rem;

}

.hero1{
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.hero1 img{
    border-radius: 20px;
}


.butbwh{
    display: flex;
    gap: 10px;
}

.daf{
    border: none;
    background-color: yellow;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
}

.li{
    border-radius: 10px;
    border: 4px;
    background-color: rgb(248, 248, 248);
}





.paket{
    border: none;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;

}

.sign{
    border: none;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
}


.log{
    border: none;
    background-color: white;
}



.esde{
    text-decoration: none;
    color: black;
}

.esempe{
    text-decoration: none;
    color: black;
}

.esma{
    text-decoration: none;
    color: black;
}

.skil{
    text-decoration: none;
    color: black;
}

.utebek{
    text-decoration: none;
    color: black;
}

.teka{
    text-decoration: none;
    color: black;
}

.uji{
    text-decoration: none;
    color: black;
}




.kiri{
    display: grid;
    gap: 10px;
}



.kanan{
    display: grid;
    gap: 10px;
}



.container{
    padding: 10rem;
    border: 10px;
    border-color: black;
}
.tabel {
    display: flex;
    justify-content: center;
    gap: 10rem;
    border: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}


.utbk {
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 1px;
    border: none;
    background-color: white;
}


.basic {
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
}


.ujian {
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
}



.tka {
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
}


.sma {
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
}


.smp{
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
}


.sd{
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: white;
    
}

.bwhkn{
    display: flex;
    gap: 15px;
}



.bbwhkn{
    border: none;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 7px;
}


    


.mat {
    display: grid;
    justify-content: center;
    gap: 10px;

}

.pe{
    display: grid;
    justify-content: center;
    padding-top: 2rem;
}

.pe2{
    display: grid;
    justify-content: center;
}



.hero2gam {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5rem;
}

.gam1{
    padding: 2rem;
    background-color: white;
}

.pg1{
    padding-bottom: 3rem;
}


.gam2{
    padding: 2rem;
    background-color: white;
}

.pg2{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.gam3{
    padding: 2rem;
    background-color: white;
}

.pg3{
    padding-bottom: 3.3rem;
    padding-top: 1rem;
}


.gam1 img{
    border-radius: 20px;
}

.gam2 img{
    border-radius: 20px;
}

.gam3 img{
    border-radius: 20px;
}




.container2{
    padding: 10rem;
    border: 10px;
    border-color: black;
}
.tabel2 {
    display: flex;
    justify-content: center;
    gap: 10rem;
    border: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}


.kiri2{
    display: grid;
}


.kanan2{
    display: grid;
}


.gkanan1{
    width: 200px;
}




.gkanan2{
    width: 200px;
}


.footer{
    background-color: rgb(54, 54, 54);
}
.bwh {

    padding: 1rem;
    color: white;
    width: 500px;
}


.bwhkanan{
    display: flex;
    justify-content: right;
    gap: 5rem;
    padding-bottom: 1rem;
}

.sosm{
    display: grid;
    padding: 1rem;
    padding-top: 2rem;
}

.compa {
    display: grid;
    padding: 1rem;
    padding-top: 2rem;
}

.sos{
    color: white;
}
.Com{
    color: white;
}



.ban{
    color: white;
}

.bantu {
    display: grid;
    padding: 1rem;
    padding-top: 2rem;
}


